$em-in-pixels: 16;
$font-size-tmp: $em-in-pixels/16;

$primary-font: sans-serif;
$base-font-size: 14px;
$base-font-weight: 300;
$base-line-height: 1.5;

$primary-color: #333333;
$secondary-color: #F1F1F1;
$white: #ffffff;
$black: #5b5b5b;

$background-color: $secondary-color;

$breakpoint-phone: 40.063em;
$breakpoint-tablet: 64.063em;
$breakpoint-desktop: 1280px;
